// Colors

$white: #fff;
$gray-100: #fafafa;
$gray-150: #f5f5f5;
$gray-200: #eee;
$gray-300: #dddd;
$gray-400: #cdcdcd;
//$gray-500: #adb5bd !default;
$gray-550: #888;
$gray-600: #666;
$gray-700: #494949;
$gray-800: #343b4c;
$gray-900: #242D3D;
$black: #000;

$cyan: #02cdd1;
$cyan-dark: #02a4a7;
$primary: $cyan;
$blue-dark: #150550;

$grays: ();
$grays: map-merge(
    (
      "100": $gray-100,
      "150": $gray-150,
      "200": $gray-200,
      //"300": $gray-300,
      "400": $gray-400,
      //"500": $gray-500,
      "550": $gray-550,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900,
    ),
    $grays
);

$theme-colors: (
  "primary": $primary,
  "gray": $gray-600,
  "black": $black,
  "white": $white,
);

$text-muted: $gray-550;


// Grid

$grid-columns:                12;
$grid-gutter-width:           20px;
$grid-row-columns:            6;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);


// Fonts

$font-family-sans-serif: 'Lato', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-alt: 'Arista', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$font-size-base: 1.125rem;
$font-size-lg: 1.3125rem;

$line-height-base: 1.27;
$line-height-lg: 1.27;
$font-weight-base: 400;


// Spacing

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), // 4px
    1_5: ($spacer * .375), // 6px
    2: ($spacer * .5), // 8px
    2_25: ($spacer * .625), // 10px
    2_5: ($spacer * .75), // 12px
    2_75: ($spacer * .875), // 14px
    3: $spacer, // 16px
    3_25: ($spacer * 1.125), // 18px
    3_5: ($spacer * 1.25), // 20px
    4: ($spacer * 1.5), // 24px
    4_25: ($spacer * 1.875), // 30px
    4_5: ($spacer * 2.25), // 36px
    4_75: ($spacer * 2.625), // 40px
    //5: ($spacer * 3), // 48px
    //6: ($spacer * 4.5), // 72px
    //7: ($spacer * 6) // 96px
  ),
  $spacers
);


// Body

$body-bg: $white;
$body-color: $gray-700;
$link-hover-decoration: none;


// Typo

$h1-font-size:                $font-size-base * 2.0555; // 37px
$h2-font-size:                $font-size-base * 1.7777; // 32px
$h2_5-font-size:                $font-size-base * 1.666; // 30px
$h3-font-size:                $font-size-base * 1.5; // 27px
$h4-font-size:                $font-size-base * 1.166667; // 21px
$h5-font-size:                $font-size-base; // 18px
$h6-font-size:                $font-size-base; // 18px

$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.19;
$headings-color:              inherit;

//$display1-size:               6rem !default;
//$display2-size:               5.5rem !default;
//$display3-size:               4.5rem !default;
$display4-size:               3.75rem; // 60px
$display5-size:               3.25rem; // 52px
$display6-size:               2.625rem; // 42px

//$display1-weight:             300 !default;
//$display2-weight:             300 !default;
//$display3-weight:             300 !default;
$display4-weight:             700;
$display5-weight:             700;
$display6-weight:             700;
$display-line-height:         $headings-line-height;

$lead-font-size:              $font-size-base * 1.055555;
$lead-font-weight:            400;

$typo-list-check-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path data-name="icon_check" d="M10 0a10 10 0 1010 10A10 10 0 0010 0zm0 18a8 8 0 118-8 8 8 0 01-8 8zm3.85-9.19L10.66 12l-.78.78a.9.9 0 01-1.32-.06l-.73-.73-1.19-1.19a1 1 0 111.41-1.41l1.19 1.19 3.17-3.17a1.004 1.004 0 111.44 1.4z" fill="#02cdd1"/></svg>');


// Border

$border-width: 1px;
$border-radius: .25rem;
$border-color: $gray-300;


// Navbar

$navbar-padding-y: $spacer * 0.875;
$navbar-padding-x: $spacer * 1.25;
$navbar-nav-link-padding-x: .75rem;
$navbar-border-bottom: 0;
$navbar-box-shadow: 0 0 .25rem 0 rgba($black, .1);

$navbar-dark-color:                $white;
////$navbar-dark-hover-color:          rgba($black, .7) !default;
////$navbar-dark-active-color:         rgba($black, .9) !default;
////$navbar-dark-disabled-color:       rgba($black, .3) !default;
////$navbar-dark-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
////$navbar-dark-toggler-border-color: rgba($black, .1) !default;


// Sidebar

$sidebar-width: 325px;
$sidebar-width-mobile: 228px;
$sidebar-bg: $black;

// Sidebar brand
$sidebar-brand-padding-y: 1rem;
$sidebar-brand-padding-x: 2rem;

// Sidebar link
$sidebar-link-padding: 1.1rem 3rem 1.1rem 2rem;
$sidebar-link-font-weight: 700;
$sidebar-link-color: $white;
$sidebar-link-bg: $sidebar-bg;
$sidebar-link-hover-color: $white;
$sidebar-link-hover-bg: $gray-900;
$sidebar-link-hover-font-weight: $sidebar-link-font-weight;
$sidebar-link-active-color: $white;
$sidebar-link-active-bg: $gray-900;
$sidebar-link-active-font-weight: $sidebar-link-font-weight;

// Sidebar child link
$sidebar-link-child-padding: 1.1rem 2rem;
$sidebar-link-child-font-weight: 700;
$sidebar-link-child-color: $white;
$sidebar-link-child-bg: $sidebar-bg;
$sidebar-link-child-hover-color: $white;
$sidebar-link-child-hover-bg: $gray-900;
$sidebar-link-child-active-color: $white;
$sidebar-link-child-active-bg: $gray-900;

// Sidebar child link nested
$sidebar-link-child-second-padding: 0;
$sidebar-link-child-third-padding: 0;

// Sidebar link icon
$sidebar-link-icon-color: $primary;
$sidebar-link-icon-hover-color: $primary;
$sidebar-link-icon-active-color: $primary;


// Hamburger

$hamburger-width-top: 25px;
$hamburger-width-middle: 25px;
$hamburger-width-bottom: 20px;


// Header

$header-height: 6.25rem;
$header-height-tablet: 3.75rem;
$header-height-mobile: 3.125rem;


// Footer

$footer-height: 6.25rem;
$footer-height-tablet: 3.75rem;
$footer-height-mobile: 3.125rem;


// Buttons + Forms

$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1rem;
$input-btn-font-family:       null;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-base;

$input-btn-padding-y-lg:      .75rem;
$input-btn-padding-x-lg:      1.25rem;
$input-btn-font-size-lg:      $font-size-lg;
$input-btn-line-height-lg:    $line-height-lg;

$input-btn-border-width:      $border-width;


// Buttons

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-font-family:             $input-btn-font-family;
$btn-font-size:               $input-btn-font-size;
$btn-line-height:             $input-btn-line-height;
$btn-white-space:             null; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-font-size-lg:            $input-btn-font-size-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$btn-border-width:            $input-btn-border-width;
$btn-font-weight:             700;
$btn-border-radius:           $border-radius;


// Forms

$label-margin-bottom:                   .75rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-family:                     $input-btn-font-family;
$input-font-size:                       $input-btn-font-size;
$input-font-weight:                     $font-weight-base;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-font-size-lg:                    1.125rem;
$input-line-height-lg:                  1.333;

$input-bg:                              $white;
//$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-700;
$input-border-color:                    $gray-400;
$input-border-width:                    $input-btn-border-width;

$input-border-radius:                   $border-radius;

$input-placeholder-color:               $gray-600;

$input-height-border:                   $input-border-width * 2;

$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2);

$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
$input-height-lg:                       add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false));


// Cards

$card-spacer-y: 1.25rem;
$card-spacer-x: 2.5rem;
$card-border-radius: .25rem;
$card-inner-border-radius: $card-border-radius;
$card-border-width: 0;
$card-border-color: transparent;
$card-cap-bg: $white;
$card-shadow: 0 0 .25rem 0 rgba($black, .1);
$card-title-font-weight: 500;


// Range

$custom-range-track-width:          100%;
$custom-range-track-height:         .375rem;
$custom-range-track-cursor:         pointer;
$custom-range-track-bg:             #e5e5e5;
$custom-range-track-bg-fill:        $primary;
$custom-range-track-border-radius:  1rem;
$custom-range-track-box-shadow:     none;

$custom-range-thumb-width:                   1.25rem;
$custom-range-thumb-height:                  $custom-range-thumb-width;
$custom-range-thumb-bg:                      $primary;
$custom-range-thumb-border:                  1px solid $cyan-dark;
$custom-range-thumb-border-radius:           1rem;
$custom-range-thumb-box-shadow:              none;
$custom-range-thumb-focus-box-shadow:        none;
//$custom-range-thumb-box-shadow:              -100em 0 0 100em $custom-range-track-bg-fill;
//$custom-range-thumb-focus-box-shadow:        -100em 0 0 100em $custom-range-track-bg-fill;
$custom-range-thumb-active-bg:               $primary;
$custom-range-thumb-disabled-bg:             $gray-550;

$custom-range-track-height-tablet:         .3125rem;
$custom-range-thumb-width-tablet:           .8125rem;
$custom-range-thumb-height-tablet:          $custom-range-thumb-width-tablet;


$help-card-toggle-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path data-name="faq_plus" d="M10 0a10 10 0 1010 10A10 10 0 0010 0zm0 18a8 8 0 118-8 8 8 0 01-8 8zm5-8a1 1 0 01-1 1h-3v3a1 1 0 01-2 0v-3H6a1 1 0 010-2h3V6a1 1 0 012 0v3h3a1 1 0 011 1z" fill="#02cdd1"/></svg>');
$help-card-toggle-icon-active: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path data-name="faq_minus" d="M10 0a10 10 0 1010 10A10 10 0 0010 0zm0 18a8 8 0 118-8 8 8 0 01-8 8zm4-7H6a1 1 0 01-1-1 1 1 0 011-1h8a1 1 0 011 1 1 1 0 01-1 1z" fill="#02cdd1"/></svg>');


$sidenav-item-toggle-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path data-name="arrow_faq_2" d="M.24 5.75a.82.82 0 001.18 0l2-2 1.59-1.63L6.6 3.75l2 2a.82.82 0 001.18 0 .88.88 0 000-1.21l-.06-.06L6.27.93 6.2.86 5.73.37a.86.86 0 00-1.41 0l-.48.49L.32 4.48l-.06.06a.88.88 0 00-.02 1.21z" fill="#02cdd1"/></svg>');
$sidenav-submenu-link-icon-active: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 10"><path data-name="arrow_faq_3" d="M.25.24a.82.82 0 000 1.18l2 2 1.63 1.59L2.25 6.6l-2 2a.82.82 0 000 1.18.88.88 0 001.21 0l.06-.06 3.55-3.45.07-.07.49-.47a.86.86 0 000-1.41l-.49-.48L1.52.32 1.46.26A.88.88 0 00.25.24z" fill="#02cdd1"/></svg>');

$edge-height: 5vw; // 5vw / 6rem
$edge-height-mobile: 7.5vw; // 7.5vw / 1.5rem

$main-hero-padding-y: 2.5rem;
$main-hero-padding-y-tablet: 1.5rem;
$main-hero-padding-y-mobile: 2.5rem;

$main-hero-padding-y-2: calc(#{$edge-height} + #{$main-hero-padding-y});
$main-hero-padding-y-2-tablet: calc(#{$edge-height} + #{$main-hero-padding-y-tablet});
$main-hero-padding-y-2-mobile: calc(#{$edge-height-mobile} + #{$main-hero-padding-y-mobile});


// dropdown

$dropdown-dark-color:                    $body-color;
$dropdown-dark-bg:                       $black;
$dropdown-dark-border-color:             $white;
$dropdown-link-dark-color:               $white;
$dropdown-link-dark-hover-color:         $white;
$dropdown-link-dark-hover-bg:            transparent;
$dropdown-link-dark-active-color:        $primary;
$dropdown-link-dark-active-bg:           transparent;
