{% extends "main-layout.html" %}

{% set pageTitle = 'Reset password' %}
{% set contentClass = 'd-flex flex-column justify-content-xl-center bg-reset content-reset' %}

{% block content %}
<div class="bg-image content-image"></div>
<div class="w-100">
<div class="row row-cols-1 row-cols-md-2 position-relative flex-grow">
  <div class="col ml-auto">
    <section class="card max-w-md mx-auto mr-md-0 ml-md-auto mb-0 card-form">
      <div class="card-header card-header-alt">
        <h3 class="h3 mb-0">Восстановление пароля по&nbsp;Email</h3>
      </div>
      <div class="card-body">
        <p class="card-text  mb-4 mb-md-2 mb-xl-4 text-gray">Пожалуйста укажите Email, который Вы использовали при регистрации на сайте.</p>
        <form>
          <div class="form-group">
            <label class="text-uppercase card-form-label">Email</label>
            <input class="form-control form-control-lg card-form-control" type="email" name="" placeholder="Введите Ваш Email" />
          </div>
          <div class="mt-4_25 mt-md-3 mt-xl-4_25 pb-2 pb-md-0">
            <button type="submit" class="btn btn-lg btn-primary rounded-pill btn-block btn-icon-right card-btn">
              <span>Восстановить пароль</span>
              <span class="btn-icon">
                 <i class="align-self-center" data-feather="chevron-right"></i>
               </span>
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
</div>
{% endblock %}
