{% extends "main-layout.html" %}

{% set pageTitle = 'Main pages' %}

{% block content %}
<p><a href="main-layout.html" target="_blank">Layout</a></p>
<p><a href="main-layout-auth.html" target="_blank">Layout auth</a></p>
<p><a href="main-layout-wide.html" target="_blank">Layout wide</a></p>
<p><a href="main-index.html" target="_blank">Index</a></p>
<p><a href="main-reset-password.html" target="_blank">Reset password</a></p>
<p><a href="main-contact.html" target="_blank">Contact</a></p>
<p><a href="main-login.html" target="_blank">Login</a></p>
<p><a href="main-reg-1.html" target="_blank">Reg 1</a></p>
<p><a href="main-reg-2.html" target="_blank">Reg 2</a></p>
<p><a href="main-reg-3.html" target="_blank">Reg 3</a></p>
<p><a href="main-help.html" target="_blank">Help</a></p>
{% endblock %}
