{% extends "main-layout-wide.html" %}

{% set pageTitle = 'Index page' %}
{% set contentClass = 'py-0' %}
{% set bodyClass = 'main-page' %}

{% block content %}
  {% include 'main-includes/main/main-hero-01.html' %}
  {% include 'main-includes/main/main-hero-02.html' %}
  {% include 'main-includes/main/main-hero-03.html' %}
  {% include 'main-includes/main/main-hero-04.html' %}
  {% include 'main-includes/main/main-hero-05.html' %}
  {% include 'main-includes/main/main-hero-06.html' %}
{% endblock %}
