.max-w-md { max-width: 580px; }


.w-2_5 { width: .75rem !important; }
.h-2_5 { height: .75rem !important; }

.w-3_5 { width: 1.25rem !important; }
.h-3_5 { height: 1.25rem !important; }

.w-4 { width: 1.5rem !important; }
.h-4 { height: 1.5rem !important; }
